{% extends 'base.html.twig' %}

{% block title %}Référencer les services
{% endblock %}

{% block body %}
	<div class="container py-5">
		<h1 class="text-center text-primary display-4 fw-bold mb-4">
			<i class="bi bi-search"></i>
			Référencer les services en ligne de l’organisation
		</h1>

		<div class="card shadow border-0 p-4">
			<h3 class="fw-bold text-primary mb-3">Explication</h3>

			<p class="fs-5 text-muted">
				Explication
			</p>
			<div class="mt-4">
				<a href="#" class="btn btn-primary me-2" download>
					<i class="bi bi-file-earmark-arrow-down"></i>
					Télécharger la documentation
				</a>

				<a href="#" class="btn btn-outline-primary" download>
					<i class="bi bi-file-earmark-slides"></i>
					Télécharger le diaporama
				</a>
			</div>

			<a href="{{ path('app_presence_ligne') }}" class="btn btn-outline-secondary mt-4">
				<i class="bi bi-arrow-left"></i>
				Retour aux sous-compétences
			</a>
		</div>
	</div>
{% endblock %}
