{% extends 'base.html.twig' %}

{% block title %}Mise en place d’un système de sauvegarde automatisée et
		sécurisée d’une base de données
{% endblock %}

{% block body %}
	<div class="container py-5">
		<h1 class="text-center text-primary display-4 fw-bold mb-4">
			<i class="bi bi-cloud-arrow-down-fill"></i>
			Mise en place d’un système de sauvegarde automatisée et
						sécurisée d’une base de données
		</h1>

		<div class="card shadow border-0 p-4">
			<h3 class="fw-bold mb-3 text-primary">Mon travail</h3>

			<p class="fs-5 text-muted">
				Dans le cadre d’un projet de cybersécurité ayant pour objectif de sensibiliser aux risques 
								            informatiques, j’ai mis en place une documentation sur les sauvegardes.  
								            J’y présente les bonnes pratiques à suivre, les différents types de sauvegardes 
								            (complètes, incrémentales, différentielles), ainsi que les stratégies permettant
								            d’assurer la disponibilité et l’intégrité des données.
			</p>

			<p class="fs-5 text-muted">
				Le travail inclut également l’analyse des risques liés à la perte de données, ainsi que la
								            mise en avant du rôle essentiel des sauvegardes dans la continuité d’activité.
			</p>

			<div class="card shadow border-0 mb-4">
				<div class="card-body">
					<h3 class="text-primary fw-bold mb-4">Compétences validées par le projet</h3>

					<div
						class="row g-4">
						<!-- Compétence 1 -->
						<div class="col-md-6">
							<div class="p-3 border rounded h-100">
								<p class="text-muted fw-bold mb-2">Gérer le patrimoine informatique</p>
								<a href="{{ path('app_patrimoine_info') }}" class="btn btn-primary w-100">
									Voir la compétence
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="card shadow border-0 mb-4">
				<div class="card-body">
					<h3 class="text-primary fw-bold mb-3">Fichiers associés</h3>
					<a href="{{ asset('documents/competences/patrimoine_info/Documentation_Cybersecurite.pdf') }}" class="btn btn-primary me-2" download>
						<i class="bi bi-file-earmark-arrow-down"></i>
						Télécharger la documentation
					</a>

					<a href="{{ asset('documents/competences/patrimoine_info/Diaporama_AP_Projet 1.pdf') }}" class="btn btn-primary" download>
						<i class="bi bi-file-earmark-slides"></i>
						Télécharger le diaporama
					</a>

				</div>
			</div>


			<a href="{{ path('app_projets') }}" class="btn btn-outline-secondary mt-3">
				⟵ Retour aux projets
			</a>
		</div>
	</div>
{% endblock %}
